html {
  font-family: Roboto, sans-serif;
}

h1 {
  font-family: "Abril Fatface", serif;
}

.abril {
  font-family: "Abril Fatface", serif;
}

.red {
  color: #ac1751;
}

.pink {
  color: #ef548f;
}

.cyan {
  color: #51bedd;
}
