html {
  font-family: Roboto, sans-serif;
}

h1 {
  font-family: "Abril Fatface", serif;
}

.abril {
  font-family: "Abril Fatface", serif;
}

.red {
  color: #AC1751;
}

.pink {
  color: #EF548F;
}

.cyan {
  color: #51BEDD;
}
